body{
    width: 1240px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

}
/*==HEADER SECTION START==*/
.header-content{
    background-image: url("./images/Hero-bg.png");
    
    text-align: center;
    padding: 30px 50px 70px 30px;
}
.header-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header-content p{
    font-size: 40px;
    font-weight: 400;
    color: rgb(63, 63, 247);
}
.header-content .btn{
    background-color: rgb(63, 63, 247);
    color:white;
    border: none;
    width: 150px;
    height: 40px;;
    padding: 10px 20px;;
    border-radius:5px;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
    

}
.header-content .btn:hover{
    background-color: rgb(240, 54, 17);
    color:#f1f1ed;
    transition:1s ease;
}
.header-bottom{
    font-size: 45px;
    
    padding-top: 60px;
}
.header-content button{
    background-color:rgb(63, 63, 247) ;
    color:white;
    border: none;
    border-radius: 5px;
    font-size:20px;
    padding:  8px 15px;
    cursor: pointer;
    
}
.header-content button:hover{
    background-color: rgb(240, 54, 17);
    color:#f1f1ed;
    transition:1s ease;
}
/*==HEADER SECTION END==*/

/*==ACTION SECTION START==*/
.action-section{
    display: flex;
    justify-content: space-between;
     padding: 30px 50px 70px 30px;
}
.action-content {
   align-items: center;
}
.action-content h2{
    font-size: 30px;
   }
.action-content p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: rgb(29, 27, 27);
}
.action-content button{
    background-color: rgb(63, 63, 247);
    color:white;
    border: none;
    width: 250px;
    height: 40px;;
    padding: 10px 20px;;
    border-radius:8px;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.action-content button:hover{
    background-color: rgb(240, 54, 17);
    color:#f1f1ed;
    transition:1s ease;
}
/*==ACTION SECTION END==*/

/*==PRODUCTIVE SECTION START==*/
.productive {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: large;
}
.productive{
    padding: 40px;
    background-color: white(60 93% 3%);
    text-align: center;
}
.productive .productive-sec{
   padding: 20px;
    background-color: #f1f1ec;
    width: 800px;
    margin-left: 150px;
   
    border-radius: 8px;
   
  
}


.rising-bar ul{
     
      display: flex;
      justify-content: space-between;
      text-align: center;
}
.rising-bar ul li{
    
    list-style: none;
}
.rising-bar ul li a{
    
    text-decoration: none;
    color: rgb(82, 82, 201);
}
.rising-bar ul li span{
    font-size: 40px;
    font-weight: 600;
}

/*==PRODUCTIVE SECTION END==*/
/*==GET IN TOUCH SECTION START==*/
.touch-section{
    background-color: rgb(247, 247, 250);
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.touch-section h3{
     font-size: 50px;
     margin-top: 120px;
}
.input-section input{
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: white;
    padding: 10px;
}
.input-section textarea{
    width: 280px;
    height: 100px;
    border-radius: 8px;
    border: none;
    background-color: white;
    padding: 10px;
}
.input-section button a{
    text-decoration: none;
}
.input-section button{
     background-color: rgb(63, 63, 247);
    color: white;
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 10px;

}

.input-section button:hover{
    background-color: rgb(240, 54, 17);
    color:#f1f1ed;
    transition:1s ease;
}
/*==GET IN TOUCH SECTION END==*/